.login-container {
    margin-left:auto;margin-right:auto;margin-top:5em;background-color:#97caef;height:25em;width:20em;padding:1em
}

/* .login-container input[type="text"] {
    margin:5%;width:90%;height:2em
}

.login-container input[type="password"] {
    margin:5%;width:90%;height:2em
} */

.login-container form {
    width:100%
}

.login-form {
    width:100%;height:90%
}

#errorMessage {
    background-color:orangered;text-align:center;width:100%;display:none;height:10%;vertical-align:bottom
}

#accountContainer {
    width:100%;height:90%;display:none
}

#accountForm {
    width:100%
}

#newAccountButtonContainer {
    width:100%;margin-top:1em;margin-bottom:1em
}

#newAccountButtonContainer button {
    width:100%;height:2em
}

#cancelButtonContainer {
    width:100%;margin-top:1em;margin-bottom:1em
}

#cancelButtonContainer button {
    width:100%;height:2em
}

#messageContainer {
    width:100%;text-align:center;margin-top:2em;color:red
}
